/* Estilos da página no geral */

html {
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
}

body, h1, h2 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.blue {
    color: #6363FF;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Fim dos estilos da página no geral */


/* Estilos do Header */

.header {
    background-color: #202020;
    
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;

    overflow: auto;

    position: fixed;
}

.ghost_header {
    background-color: #202020;
    
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;

    overflow: auto;
}

    .header_content {
        display: flex;
        flex-flow: row wrap;

        align-items: center;
        justify-content: space-around;
    }

        .petlink {
            display: flex;
            flex-flow: row wrap;

            align-items: center;
            justify-content: space-evenly;
        }

            .name {
                font-family: sans-serif;               
                font-weight: 900;
                font-size: 35px;

                color: white;
            }

            .logo {
                height: 100px;
                width: 100px;

                margin-left: 20px;
            }

        .navbar {
            /* Estilos de letra não vão direto na tag a,
            pois quero que um dos items esteja em azul,
            por meio de uma classe "blue" */

            font-family: sans-serif;
            font-weight: 900;
            font-size: 20px;
                
            color: white;

            width: auto;

            padding-top: 20px;
            padding-bottom: 20px;

            display: flex;
            flex-flow: row wrap;

            justify-content: center;
        }

            .navbar a {
                margin-left: 10px;
            }

                .navbar a:hover {
                    opacity: 50%;
                    transition-duration: 0.2s;
                }

/* Fim dos estilos do Header */


/* Estilos do Banner */

.banner {
    height: 600px;
    
    background-image: url(img/cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 

    text-align: center;
}

@media only screen and (max-width: 800px)
{
    .banner {
        height: 600px;
        
        background-image: url(img/mobile_cat.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    
        text-align: center;
    }
}

    .banner_highlight {
        font-family: sans-serif;
        font-size: 50px;
        
        color: #6363FF;
        text-shadow: 2px 2px 3px #202020;

        padding-top: 50px;
        
    }

    .banner_text {
        font-family: sans-serif;
        font-size: 25px;

        color: #505050;
    }

/* Fim dos estilos do Banner */


/* Estilos das sections no geral */


.dark_section {
    background-color: #303030;

    padding-top: 100px;
    padding-bottom: 100px;

    overflow: auto;

    display: flex;
    flex-direction: column;

    text-align: center;
}

    .dark_section h1 {
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 900;

        color: #6363FF;
    }

    .dark_section h2 {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 900;

        color: #6363FF;
    }

    .dark_section p {
        font-family: sans-serif;
        font-size: 20px;

        color: #FFF;
    }

.light_section {
    background-color: #DFDFDF;

    padding-top: 100px;
    padding-bottom: 100px;

    overflow: auto;

    display: flex;
    flex-direction: column;

    text-align: center;
}

    .light_section h1 {
        font-family: sans-serif;
        font-size: 40px;
        font-weight: 900;

        color: #6363FF;
    }

    .light_section h2 {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 900;

        color: #6363FF;
    }

    .light_section p {
        font-family: sans-serif;
        font-size: 20px;

        color: #000;
    }

/* Fim dos estilos das sections no geral */


/* Estilos da section Sobre - Missão Visão Valores */
/* Dark Section! */

        .mvv .boxes {
            margin-top: 50px;
            width: 100%;

            display: flex;
            flex-flow: row wrap;

            justify-content: space-evenly; 
        }

            .mvv .box {
                width: 250px;

                display: flex;
                flex-direction: column;

                align-items: center;
            }

                .mvv .box img {
                    height: 200px;
                    width: 200px;

                    margin-bottom: 20px;
                }


/* Fim dos estilos da section Sobre - Missão Visão Valores */


/* Estilos da section Sobre - Como tudo funciona */
/* Light Section! */

    .solution {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

        .solution .boxes {
            width: 100%;
            margin-top: 50px;

            display: flex;
            flex-flow: row wrap;

            justify-content: space-evenly;       
        }
    
            .solution .box {
                width: 225px;
    
                display: flex;
                flex-direction: column;
    
                align-items: center;
            }
    
                .solution .box img {
                    height: 200px;
                    width: 200px;

                    margin-bottom: 20px;
                }
        

/* Fim dos estilos da section Sobre - Como tudo funciona */



/* Estilos da página de adoção */
/* Light Section! */

    .adoption {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

        .adoption .boxes {
            width: 100%;
            margin-top: 50px;

            display: flex;
            flex-flow: row wrap;

            align-items: center;
            justify-content: space-evenly;
        }

            .adoption .box {
                background-color: #303030;

                width: 300px;

                border-radius: 50px;

                display: flex;
                flex-direction: column;

                align-items: center;
            }

            /* Como essa é uma section clara, mas o texto
            está dentro de uma caixa escura, especifiquei
            estilos para p exclusivamente nessa div */

                .adoption .box p {
                    font-family: sans-serif;
                    font-size: 20px;
            
                    color: #FFF;
                }

                .adoption .box img {
                    height: 200px;
                    width: 200px;

                    margin-top: 50px;
                    margin-bottom: 25px;

                    border-radius: 50%;
                }

                .adoption .options {
                    width: 80%;

                    display: flex;
                    flex-flow: row wrap;

                    justify-content: space-evenly;
                    
                    padding-top: 25px;
                    padding-bottom: 50px;
                }

                    .adoption .options a {
                        font-family: sans-serif;
                        font-size: 25px;
                        font-weight: 900;

                        color: #DFDFDF;

                        padding: 5px 10px 5px 10px;
                        background-color: #6363FF;

                        border-radius: 20px;
                    }

                        .adoption .options a:hover {
                            opacity: 50%;
                            transition-duration: 0.2s;
                        }

/* Fim dos estilos da página de adoção */


/* Estilos das páginas de login/cadastro no geral */
/* Light Section! */

    .access {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

        .login {
            margin-bottom: 50px;
        }

        .signup {
            margin-top: 50px;
        }

            .access .box {
                background-color: #303030;

                height: auto;
                width: auto;

                border-radius: 50px;

                padding: 50px 100px 50px 100px;

                display: flex;
                flex-direction: column;

                align-items: center;
                justify-content: space-evenly;
            }

                .access .box .inserts {
                    margin-top: 30px;
                    margin-bottom: 30px;     
                }

                    .access .box .inserts p {
                        font-family: sans-serif;
                        font-size: 20px;
                    
                        color: #FFF;
                    }

                    .access .box .inserts input {
                        background-color: #DFDFDF;

                        height: 30px;
                        width: 300px;

                        border-radius: 15px;

                        font-family: sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                    
                        color: #000;

                        text-align: center;
                    }
                
                .access .box button {
                    background-color: #6363FF;

                    height: 50px;
                    width: 150px;

                    border-radius: 20px;

                    font-family: sans-serif;
                    font-size: 20px;
                    font-weight: 900;

                    color: #FFF;
                }

                    .access .box button:hover {
                        opacity: 50%;
                        transition-duration: 0.2s;
                    }

                .access .box a {
                    margin-top: 20px;

                    font-family: sans-serif;
                    font-size: 20px;
                
                    color: #DFDFDF;
                }

                    .access .box a:hover {
                        opacity: 50%;
                        transition-duration: 0.2s;
                    }


/* Fim dos estilos das páginas de login/cadastro */


/* Estilos do footer */

.footer {
    background-color: #202020;

    padding-top: 50px;
    padding-bottom: 50px;

    overflow: auto;
}

    .footer_content {
        display: flex;
        flex-direction: column;

        text-align: center;
    }

        .footer_content h1 {
            font-family: sans-serif;
            font-size: 30px;
            font-weight: 900;

            color: #FFF;
        }

        .footer_content p {
            font-family: sans-serif;
            font-size: 25px;
            font-weight: 700;

            color: #FFF;
            
            padding-bottom: 25px;
            border-bottom: 1px solid #FFF;
        }

        .contact {
            display: flex;
            flex-flow: row wrap;

            justify-content: space-evenly;
        }

            .contact a {
                display: flex;
                flex-direction: column;

                align-items: center;
            }

            .contact a img {
                height: 80px;
                width: 80px;
            }

            .contact a span {
                font-family: sans-serif;
                font-size: 20px;
                font-weight: 700;

                color: #FFF;
            }

                .contact a:hover {
                    opacity: 50%;
                    transition-duration: 0.2s;
                }

/* Fim dos estilos do footer */




